@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #101820; 
}
.header{
    font-family: "IBM Plex Sans", sans-serif;
    font-style: normal;
}
.header_div{
    background-image: url("../assests/network_bg.avif"),linear-gradient(-7.10543e-14deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 59%);
    background-blend-mode: overlay;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width:100%;
    height:90vh;
    display:flex;
    justify-content: center;
    align-items:flex-start;
    
}
.header_nav{
    width:620px;
    height:min-content;
    background-color:rgba(0, 0, 0, 0.457);
    display:flex;
    justify-content: space-between;
    position:fixed;
    top:1rem;
    border-radius: 2rem;
    font-size:14px;
    z-index:100;
    box-shadow: 0 41px 90px #08f8fe08, 0 164px 164px #08f8fe08, 0 368px 221px #08f8fe05, 0 655px 262px #08f8fe00, 0 1023px 287px #08f8fe00;
    
}
.header_nav_image{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width:40%;
}
.header_nav_list{
    width:60%;
    display: flex;
    justify-content:space-between;
    
}
.header_nav_img{
    width:100%;
    height:2rem;
    margin-left:0.5rem;
   
}
p,h1,h2,h3,h4,h5,h6{
    white-space:pre-wrap;
    word-break:break-word;
    overflow-wrap: break-word;
}
.header_nav_ul{
    width:100%;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-shrink: 1;
}
.header_nav_ul > li{
    list-style-type:none;
    font-size:14px;
    color:white;
}
.hamburger{
    display:none;
}
.nowrap{
    white-space: nowrap;
}
.anchors{
    text-decoration: none;
    color:white;
}
.hover:hover{
    color:#05f9fe;
}
.li_product:hover #arrow{
    transform: rotate(180deg);
}
.li_product:hover #arrow path{
    fill:#05f9fe;
}

.header_nav_ul > li:last-child{
    border:2px solid none;
    height:90%;
    padding:0.7rem 1.5rem;
    border-radius: 2rem;
    display:flex;
    align-self: center;
    background-color: #FFFFFF80;
    transition: transform 0.5s ease;
    transform-origin: right;
    
}
.header_nav_ul > li:last-child:hover,.section_request:hover{
    
    transform: scaleX(1.1);
    background-image:linear-gradient(to right, rgb(12, 255, 210), rgb(23, 250, 255), rgb(0, 191, 255));
    color:black;
}
.header_nav_ul  > li:last-child:hover::after,.section_request:hover::after{
    content:" \2197";
    
}
.li_product{
    display:flex;
    align-items: center;
    position:relative;
}
.outer_div_li{
    position:absolute;
    display:none;
    top:100%;
    left:-50%;
    padding:10px 20px;
    
}
.li_product_li{
    
    border:1px solid rgba(2, 249, 254, 0.2);
    background-color: bisque;
    width:8rem;
    margin-top:0.2rem;
    background-color:#163744 ;
    border-radius: 0.5rem;
    box-shadow: rgba(8, 248, 254, 0.1) 0px 15px 33px 0px, rgba(8, 248, 254, 0.09) 0px 60px 60px 0px, rgba(8, 248, 254, 0.05) 0px 135px 81px 0px, rgba(8, 248, 254, 0.01) 0px 239px 96px 0px, rgba(8, 248, 254, 0) 0px 374px 105px 0px;
    
}
.waves{
    position:absolute;
    overflow:hidden;
    display:block;
    top:500px;
    right:0px;
    z-index:5;
    
    }
.waveimg{
    overflow:hidden;
    transform:translateX(300px);
}
.li_product:hover .outer_div_li{
    display:block;
}
.li_product:hover .pro{
    color:#05f9fe;
}
.li_product_li li{
    padding:6px 20px;
    margin:5px;
}
.li_product_li li:hover{
    
    border-radius:0.2rem;
    background-color: rgba(66,66,66,255);
    color:#05f9fe;
}
.li_product_li ul{
    list-style-type:none;
}
.li_product_li ul a{
    display:block;
}

.header_section {
    
    text-align: center;
    color:white;
    position:relative;
    margin-top: 10%;
    line-height: 2.5rem;
    animation: appear;
    animation-range: entry 0% cover 40%;
    animation-fill-mode: forwards ;
    animation-duration: 2s;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    z-index:8;


}
@keyframes appear {
    from{
        opacity:0;
        scale:0.5;
    }
    to{
        opacity:1;
        scale:1;
    }
    
}
.header_section  > img:first-child{
    width:50%;
}
.header_section p:first-child{
    font-family: "IBM Plex Mono", monospace;
    font-size:2rem;
    font-weight:500;
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    
}
.header_section h1{
    letter-spacing: 0.2rem;
    word-spacing: 1rem;
}
.section_request{
    display:inline-block;
    margin-top:0.5rem;
    border:1px solid rgba(255, 255, 255, 0.646);
    border-radius:2rem;
    background-color: #FFFFFF80;
    padding:0 19px;
    line-height: 2rem;
    transition:0.5s ease;
    
    
}
.language{
    position:absolute;
    top:105%;
    left:47%;
}
.toggle-checkbox {
    display: none;
  }

.toggle-label {
    cursor: pointer;
    border: 1px solid rgb(90, 235, 245);
    border-radius: 10px;
    padding:0;
    background-color: #FFFFFF80;
    display: inline-block;
    line-height:0;
    

  }
  
.target-div{
    display:none;
}


.language .toggle-checkbox:checked ~ .target-div {
    display: block;
    position:absolute;
    top:100%;
    left: -130%;
   
  }
 
 #google_translate_element{
   box-shadow: rgba(8, 248, 254, 0.1) 0px 15px 33px 0px, rgba(8, 248, 254, 0.09) 0px 60px 60px 0px, rgba(8, 248, 254, 0.05) 0px 135px 81px 0px, rgba(8, 248, 254, 0.01) 0px 239px 96px 0px, rgba(8, 248, 254, 0) 0px 374px 105px 0px;
    background-color: rgba(0, 0, 0, 0.2);
    border:1px solid rgb(90, 235, 245);
    border-radius: 25px;
    padding:0.5rem;
    width:min-content;
    align-self: center;
    line-height:0;
}
.product{
    font-family: "IBM Plex Mono", monospace;
    padding:60px 24px;
    display:flex;
    flex-direction:column;
    gap:24px;
    align-items:flex-start;
    background-color: #111818;
    color:white;
}
.product_para{
    font-size:16px;
    font-family: "IBM Plex Sans", "IBM Plex Sans Placeholder", sans-serif;
    line-height: 1.8em;
}
.solutions{
    padding:40px 160px;
    display:flex;
    flex-direction:column;
    gap:24px;
    overflow:hidden;
}
.solutions p{
    color:white;
}
.solution_image{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    gap:24px;
    
}
.solution_images{
    display:flex;
    justify-content: center;
    align-items: center;
    padding:30px;
    flex-basis:auto;
    height:91px;
    width:200px;
    border-radius: 1rem;
    box-shadow: rgba(0, 255, 89, 0.03) 0px 41px 90px 0px;
    border:1px solid ;
    border-color: rgba(131, 218, 111, 0.2);
    position:relative;
    
    
}
.solution_images:hover{
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transform: scale(1.05);
}
.solution_images img:first-child{
    position: absolute;
    top:0;
    right:0;
    width:20px;
    height:20px;
    border-radius:50%;

}
.feature_list{
    display:flex;
    flex-direction:column;
    gap:24px;
    padding: 60px 24px;
    font-family:"IBM Plex Mono",monospace;
    color:white;
}
.feature_list_cards{
    display:grid;
    grid-auto-rows:250px;
    grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
    gap:66px;
    height:min-content;
    justify-content: center;
    padding:40px 0px 0px;
}
.feature_list_card{
    padding:40px;
    border-radius: 16px;
    box-shadow: rgba(0, 255, 89, 0.03) 0px 41px 90px 0px;
    vertical-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    min-width:125px;
    width:100%;
    height:min-content;
    border:1px solid rgba(131,218,111,0.2);

}
.feature_list_card:hover{
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transform: scale(1.05);
}
.feature_list_card_p{
    height:178px;
    font-size:18px;
    font-family:"IBM Plex Sans", "IBM Plex Sans Placeholder", sans-serif;
    line-height:1.8em;
}
.feature_list_p,.feature_para{
    font-size:18px;
    font-family:"IBM Plex Sans", "IBM Plex Sans Placeholder", sans-serif;
    line-height:1.8em;

}
.CMS{
    padding:40px 24px;
    display:flex;
    flex-direction:column;
    gap:16px;
    color:white;
    
}

.CMS_content{
    padding:40px;
    border-radius: 16px;
    display:flex;
    flex-direction:column;
    gap:16px;
    width:100%;
    box-shadow: rgba(0, 255, 89, 0.03) 0px 41px 90px 0px, rgba(0, 255, 89, 0.03) 0px 164px 164px 0px, rgba(0, 255, 89, 0.02) 0px 368px 221px 0px, rgba(0, 255, 89, 0) 0px 655px 262px 0px, rgba(0, 255, 89, 0) 0px 1023px 287px 0px;
    backdrop-filter: blur(3px);
    border:1px solid rgba(131, 218, 111, 0.2);

}
.color{
    color:#2da63a;
}
.CMS_content:hover{
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transform: scale(1.02);
}
.CMS_content p:nth-child(2){
    line-height: 1.8em;
}
.benefits{
    padding:40px 24px;
    display:flex;
    flex-direction:column;
    gap:24px;
    color:white;
    height:min-content;
    overflow:hidden;
    flex-basis:auto;
}
.clip{
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:28px;
    font-family: "IBM Plex Mono", monospace;
    background-image: linear-gradient(90deg, rgb(131, 218, 111) 0%, rgb(23, 250, 255) 48.6486%, rgb(83, 171, 248) 100%);
}
.benefits_cards{
    background-color: rgba(255, 255, 255, 0);
    padding:40px 0 0;
    display:grid;
    grid-auto-rows:minmax(0px,1fr);
    grid-template-columns:repeat(3,minmax(200px,1fr));
    grid-template-rows:repeat(2,minmax(0px,1fr));
    height:2640px;
    gap:54px;
    width:100%;
}
.benefits_card{
    display:flex;
    flex-direction:column;
    gap:16px;
    padding:60px 40px 40px;
    min-width: 250px;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 16px;
    box-shadow: rgba(0, 255, 89, 0.03) 0px 41px 90px 0px, rgba(0, 255, 89, 0.03) 0px 164px 164px 0px, rgba(0, 255, 89, 0.02) 0px 368px 221px 0px, rgba(0, 255, 89, 0) 0px 655px 262px 0px, rgba(0, 255, 89, 0) 0px 1023px 287px 0px;
    min-width:250px;
    height:100%;
}
.benefits_card:hover{
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
    transform: scale(1.05);
}
@media (min-width: 810px) and (max-width: 1439px) {
    .benefits_cards {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
        height: 4217px;
    }
}
.benefits_card p:nth-child(2){
    font-size:18px;
    font-family:"IBM Plex Sans", "IBM Plex Sans Placeholder", sans-serif;
    line-height:1.8em;
}

.clients{
    padding:40px 160px;
    display:flex;
    flex-direction:column;
    gap:12px;
    height:min-content;
    width:100%;
    background-color:black;
    overflow:hidden;
    

}

.clients_cards{
    display:flex;
    gap:100px;
    height:205px;
    width:100%;
    align-items:center;
    justify-content: center;
    overflow:hidden;
}
.client_card img{
    display:block;
    object-position: center center;
    object-fit: contain;
    image-rendering: auto;
    overflow:hidden;
}
.iris_contact{
    padding:40px 80px;
    display:flex;
    background-color: black;
    color:white;
    scroll-margin-top:2rem;
}
.iris_contact_inner{
    display:flex;
    flex-direction:column;
    gap:38px;
    width:50%;
}
.iris_contact_location{
    display: flex;
    flex-direction:column;
    gap:12px;
}
.iris_contact_location p{
    font-size:1.2rem;
    color:#0CFFD2;
}
.iris_contact_contact p:first-child{
    color:#0CFFD2;
}
.iris_contact_contact{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.iris_contact_contact ol,.iris_contact_location ol{
    display:flex;
    flex-direction:column;
    gap:12px;
}
.iris_contact_contact li,.iris_contact_location li{
    list-style-position: inside;
    list-style-type: none;
    display:flex;
    gap:5px;
}
.india,.uk,.nether{
    width:20px;
    height:20px;
    border-radius:50%
}
.iris_contact_form{
    width:50%;

}
.contact_form{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    gap:16px;
}
.contact_form #name,.contact_form #email,.contact_form #contact,.contact_form #text_area{
    padding:12px 16px;
    background-color: black;
    color:white;
    border-radius:4px;
}
.contact_form #button{
    padding:12px 16px;
    background-image: linear-gradient(to right, rgb(12, 255, 210), rgb(23, 250, 255), rgb(0, 191, 255)); 
    border-radius:4px;
    cursor:pointer;
}
.footer{
    padding:60px 40px 30px 60px;
    display:flex;
    flex-direction:column;
    gap:24px;
    align-items: center;
    background-color: #141414;

}
.footer_header{
    display:flex;
    flex-direction: row;
    color:white;
    gap:10px;
    height:min-content;
    width:auto;
    align-self:stretch;
}
.footer_header_one{
    display:flex;
    flex-direction:column;
    gap:15px;
    align-self: stretch;
    width:300px;
    height:auto;
    justify-content:flex-start;
}
.footer_header_one a,.footer_header_two a{
    color:#FFFFFF80;
}
.footer_header_two{
    display:flex;
    flex-direction:column;
    gap:15px;
    flex-grow:1;
}
.footer_header_three{
    display:flex;
    justify-content:center;
    width:223px;
}
.footer_main{
    display:flex;
    flex-direction: column;
    gap:16px;
    align-items:center;
    justify-content:center;
    
}
.footer_main_p{
    color:white;
}
.footer_main_img{
    display: flex;
    gap:24px;
}
.insta{
    width:30px;
    height:30px;
}
.footer_footer_p{
    color:#616161;
    text-align:center;
    padding:8px 0px 0px;
}
.footer_footer_border{
    width:90vw;
    
    border:1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 1439px) {
    .CMS,.benefits,.clients,.solutions{
        padding: 40px 24px;
    }
    
}
@media (max-width:822px){
    .clients_cards{
        flex-direction:column;
        gap:69px;
        height:min-content;
        padding:50px 0px 0px;
        max-width:326px;
        overflow:hidden;
        
    }
    .benefits_cards{
        display:flex;
        flex-flow:row wrap;
        align-items:flex-start;
        place-content: flex-start;
        flex-basis: auto;
        gap:54px;
        overflow:visible;
    }
    .benefits_card{
        flex:1 0px 0px;
        height:auto;
    
    }
}
@media (max-width:803px){
     html{
        scroll-behavior: smooth;
     }
    .header_nav{
        width:90%;
    }
    .hamburger{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        position:absolute;
        top:10px;
        right:1rem;
        width:30px;
        height:21px;

    }
    .header_section p:first-child{
        font-size:5vw;
    }
    .one,.three{
        height:1px;
        width:10px;
        background-color: white;
        

    }
    .two{
        height:1px;
        width:20px;
        background-color: white;
    }
    .bar{
        transform: rotate(-45deg);
    }
    .one{
      margin-right:10px;

    }
    .two{
        margin:2px 0;
    }
    .three{
        margin-left:7px;
    }
    .hamburger.active{
        top:20px;
    }
    .hamburger.active .one{
        width:25px;
        transform:rotate(45deg);
        margin:0;

    }
    .hamburger.active .three{
        width:25px;
        transform:rotate(-45deg);
        margin:0;

    }
    
    .hamburger.active .two{
        display:none;
    }
    .header_nav_list{
        display:none;
        transition:all 2s ease-in;
    }
     .header_nav.active .header_nav_list{
        display: flex;
        width:100%;
        padding:40px 24px;
        transition:all 2s ease-in;
        
        
        
    }
      .header_nav.active{
        padding:20px 0px 0px;
        flex-direction:column;
        max-height:500px;
        background-color: rgba(0, 0, 0, 0.333);
        backdrop-filter: blur(10px);
        
        
    }
     .header_nav_ul li{
        transition:all 2s ease-in;
     }
     .header_nav .header_nav_ul{
        transition:all 2s ease-in;
     }
      .header_nav.active .header_nav_ul{
       
        flex-direction:column;
        gap:24px;
        transition:all 2s ease-in;
    }
    .header_nav.active .header_nav_ul li{
        width:100%;
    }
    .header_nav.active .header_nav_ul > li:last-child{
        display: flex;
        justify-content: center;
        color:black;
        background-image:linear-gradient(to right, rgb(12, 255, 210), rgb(23, 250, 255), rgb(0, 191, 255));
    }
    .header_nav.active .header_nav_ul #req{
        color:black;
    }
    #req::after{
        content:" \2197"
    }
    
    .hamburger.active .header_nav{
        display:flex;
        flex-direction:column;
        background-color: white;
        transition:all 2s ease-in;
    }
    .li_product_li{
        display:none;
    }
    .li_product.active {
        display:flex;
        flex-direction:column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .li_product.active .outer_div_li{
        position:static;
        
        padding:20px 0px 0px;

    }
    .li_product.active .li_product_li{
        display: flex;
        flex-direction:column;
        justify-content:flex-start;
        
        border:none;
        box-shadow: none;
        background-image: none;
        background-color: transparent;

    }
    .li_product.active .li_product_li ul  a{
        width:100%;
    }
    .header_nav.active  .header_nav_ul > li:last-child:hover{
    
        transform: scaleX(1);
        background-image:linear-gradient(to right, rgb(12, 255, 210), rgb(23, 250, 255), rgb(0, 191, 255));
        color:black;
    }
    .header_nav.active  .header_nav_ul  > li:last-child:hover::after{
        content:" ";
        
    }


}
@media (max-width:809px){
    .iris_contact{
        padding:40px 24px;
        flex-direction:column-reverse;
        gap:13px;
    }
    .iris_contact_form{
        width: 100%;
    }
    .iris_contact_location p{
        font-size:18px;
        font-family:"IBM Plex Mono", monospace;
        
    }

    .iris_contact_contact p:first-child{
        font-size:13px;
        font-family:"IBM Plex Mono", monospace;
        
    }
    .footer{
        padding:60px 40px 30px;
        display:flex;
        flex-direction:column;
        gap:16px;
        align-items: center;
        background-color: #141414;
    
    }
    .footer_header{
        display:flex;
        flex-direction:column;
        gap:24px;
        height:min-content;
        width:100%;
        align-self:unset;
        align-items: center;
    }
    .footer_header_one{
        align-items:center;
        width:100%;
    }
    .footer_header_two{
        display:flex;
        flex-direction:column;
        gap:15px;
        flex-grow:1;
        width:100%;
        align-items:center;
    }
    .footer_header_three{
        width:210px;
    }
    .footer_main_p{
        font-size:12px;
        
    }
    .footer_main{
        width:100%;
        align-items: center;
    }
    .waves{
        display:none;
    }
}